<h1>Listing device_interests <label class="badge"><%= @device_interests.count %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Device</th>
      <th>Interest</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_interests.each do |device_interest| %>
      <tr>
        <td><%= device_interest.device_id %></td>
        <td><%= device_interest.interest_id %></td>
        <td><%= link_to 'Show', device_interest %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device interest', new_device_interest_path %>
