<h1>Listing devices<%= link_to 'Register New Device', new_device_path, :class=>"btn btn-info pull-right" %></h1>

<table class="table">
  <thead>
    <tr>
      <% if current_user and current_user.admin != 0 %>
      <th>Tele</th>
      <% end %>
      <th>Name</th>
      <th>Pawprint</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr class="<%= "success" if current_user and device.email == current_user.email %>">
        <% if current_user and current_user.admin != 0 %>
        <td><%= device.tele %></td>
        <% end %>
        <td><%= device.name.humanize %></td>
        <td><%= device.pawprint || "Not available" %></td>
        <td><%= device.email.humanize %></td>
        <td><%= link_to 'Show', device %></td>

        <% if current_user and current_user.admin != 0 %>
          <td><%= link_to 'Edit', edit_device_path(device) if current_user and current_user.admin != 0 %></td>
          <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
