<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Tele</th>
      <th>Pawprint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.tele %></td>
        <td><%= device.pawprint %></td>
        <td><%= link_to 'Show', device %></td>

        <% if current_user and current_user.admin != 0 %>
          <td><%= link_to 'Edit', edit_device_path(device) %></td>
          <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
