<h1>Listing devices <label class="badge"><%= @devices.count %></label><%= link_to 'Register New Device', new_device_path, :class=>"btn btn-info pull-right" %></h1>

<table class="table">
  <thead>
    <tr>
      <% if int_mod? %>
      <th>Tele</th>
      <% end %>
      <th>Name</th>
      <th>Pawprint</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <% if int_mod? %>
        <td><%= device.tele %></td>
        <% end %>
        <td><%= device.name %></td>
        <td><%= device.pawprint %></td>
        <td><%= device.email %></td>
        <td><%= link_to 'Show', device %></td>

        <% if is_admin? %>
          <td><%= link_to 'Edit', edit_device_path(device) %></td>
          <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
