<p id="notice"><%= notice %></p>

<% if int_mod? %>
<p>
  <strong>Tele:</strong>
  <%= @device.tele %>
</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Pawprint:</strong>
  <%= @device.pawprint || "Not available" %>
</p>
<hr>
<h4>Interests</h4>

<% if @interests.count == 0 %>
  No interests associated with this device
<% else %>

  <ul>
    <% @interests.each do |int| %>

  <li><%= link_to int.name, int %></li>

<% end %>
</ul>
<% end %>
<br><br>
<% if is_admin? %>

  <%= link_to 'Edit', edit_device_path(@device) if is_admin? %>
<% end %>

<%= link_to 'Back', devices_path %>
