<p id="notice"><%= notice %></p>

<p>
  <strong>Tele:</strong>
  <%= @device.tele %>
</p>

<p>
  <strong>Pawprint:</strong>
  <%= @device.pawprint %>
</p>

<% if current_user and current_user.admin != 0 %>

  <%= link_to 'Edit', edit_device_path(@device) %> |
<% end %>
<%= link_to 'Back', devices_path %>
