<h1>Interests <label class="badge"><%= @interests.count %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Organization</th>
      <th>Description</th>

    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= link_to interest.name, interest %></td>
        <td><%= interest.devices.count %></td>
        <td><%= link_to interest.organization.name, interest.organization %></td>
        <td><%= interest.desc.blank? ? "No description" : interest.desc %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
