<p id="notice"><%= notice %></p>

<%= link_to 'Back', interests_path %>

<p>
  <h1><%= @interest.name %></h1>
</p>

<p>
  <strong>Email:</strong>
  <%= @interest.organization.user.email.humanize %>
</p>

<p>
  <strong>Organization:</strong>
  <%= link_to @interest.organization.name, @interest.organization %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interest.desc.blank? ? "No description" : @interest.desc %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) if current_user.try(:can_see?,@interest.organization) %>

<hr>

<h3>Member's Devices <label class="badge"><%= @devices.count %></label></h3>
<% if @devices.count == 0 %>
  No devices associated with this interest.
<% else %>
  <ul>
      <% @devices.each do |device| %>
        <li><%= link_to device.name || "Not available", device %></li>
      <% end %>
  </ul>
<% end %>


<% list = @devices.reject{|b| b.email.nil? and b.pawprint.nil? }.map{|a| a.email || a.pawprint + "@mail.missouri.edu"} %>
<div>
  <hr>
    <h3>Mailing List <label class="badge"><%= list.count %></label></h3>
    <p>
      Mailing list for this interest
    </p>
      <code>

        <%= list.join(', ') %>
      </code>
    </p>
  </p>
</div>
