<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @interest.name %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @interest.organization_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @interest.desc %>
</p>

<p>
  <strong>Main email:</strong>
  <%= @interest.main_email %>
</p>

<p>
  <strong>Organization:</strong>
  <%= link_to @interest.organization.name, @interest.organization %>
</p>


<%= link_to 'Edit', edit_interest_path(@interest) if current_user and current_user.id != 0 %> |
<%= link_to 'Back', interests_path %>

<hr>

<h3>Devices</h3>
<ul>
  <% if @devices.count == 0 %>
    No devices associated with this interest
  <% else %>
    <% @devices.each do |device| %>
      <li><%= link_to device.name, device %></li>
    <% end %>
  <% end %>
</ul>
