<h1>Listing Organizations <label class="badge"><%= @organizations.count %></label><%= link_to 'Create Organization', new_organization_path, :class=>"pull-right btn btn-primary" %>
</h1>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>Phone number</th>
          <th>Owner</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @organizations.each do |organization| %>
        <tr>
          <td><%= link_to organization.name, organization %></td>
          <td><%= organization.desc || "No description" %></td>
          <td><%= organization.phone_number || ENV["default_tele"] %></td>
          <td><%= organization.user.email.humanize %></td>
          <% if current_user and current_user.id == organization.owner_id %>
          <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">

    <h3>Your Organizations</h3>
    <% if @owned.count == 0 %>
    You don't have any organizations
    <% else %>
    <ul>
      <% @owned.each do |org| %>
      <li><%= link_to org.name, org %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
