<h1>Organizations <label class="badge"><%= @organizations.count %></label><%= link_to 'Create Organization', new_organization_path, :class=>"pull-right btn btn-primary" %>
</h1>
<div class="row">
  <div class="col-md-8">

  <form class="form-inline" method="get" action="<%= url_for :controller => "organizations", :action => "search" %>">
    <input type="text" name="q" class="form-control" placeholder="Search">
    <input type="submit" value="Search" class="btn btn-default"/>
    <% if params["q"] != nil %>
      <%= link_to 'Clear', organizations_path, :class => "btn btn-info" %>
    <% end %>
  </form>
</div>
</div>



<div class="row">
  <div class="col-md-8">
    <div class="list-group buffer-top">

        <% @organizations.each do |organization| %>
          <a href="<%= organization_path organization.id %>" class="list-group-item">
          <span class="pull-right"><%= organization.user.email.humanize %></span>
          <h4><%= organization.name %></h4>
          <p><%= !organization.desc.blank? ? organization.desc : "No description" %></p>

          <% if current_user and current_user.id == organization.owner_id %>
              <%= link_to 'Edit', edit_organization_path(organization) %>
              <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </a>
        <% end %>

      </div>
  </div>
  <div class="col-md-4">

    <h3>Your Organizations</h3>
    <% if @owned.count == 0 %>
    You don't have any organizations
    <% else %>
    <ul>
      <% @owned.each do |org| %>
      <li><%= link_to org.name, org %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
