<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-sm-7">
    <% if current_user and current_user.id == @organization.owner_id %><%= link_to 'Edit', edit_organization_path(@organization) %><% end %>
    <%= link_to 'Back', organizations_path %>


    <h2><%= @organization.name %>
      <% if current_user.try(:can_see?,@organization) %>
       <span class="small"><%= @organization.org_key %></span>
      <% end %>
    </h2>

    <p>
      <strong>Phone number:</strong>
      <%= @organization.phone_number || ENV["default_tele"] %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @organization.user.email %>
    </p>


    <p>
      <strong>Description:</strong>
      <%= @organization.desc.blank? ? "No description" : @organization.desc %>
    </p>
  </div>
  <div class="col-sm-5">
    <% if current_user.try(:can_see?, @organization) %>
      <h3>Created Interest</h3>
      <%= render :template => "interests/_form" %>
    <% end %>
  </div>
</div>


<hr>
<h3>Interests</h3>
<div class="row">
<% @interests.each_with_index do |interest, index| %>

  <div class="col-sm-2">
    <div class="id-box">
      <div class="number">
        <%= interest.rel_interest_id %>
      </div>
      <!-- <%= interest.id %> -->
      <div class="name">
      <%= link_to interest.name, interest %>
      </div>
      <div class="desc">
        <%= interest.desc %>
      </div>
    </div>
  </div>

  <% if (index+1) % 6 == 0 %>
    </div>
    <div class="row">
  <% end %>

<% end %>

</div>
<%= "This organization has no interests" if @interests.count == 0  %>

<hr>

<h3>Members</h3>
<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <% @members.each do |m| %>
          <%= link_to m.name.humanize, m, :class=> "list-group-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if current_user.try(:can_see?,@organization) %>
  <hr>
  <h3>Mailing List <label class="badge"><%= @email_list.count %></label></h3>
  <div class="row">
    <p>
      <code>
        <%= @email_list.join(', ') %>
      </code>
    </p>
  </div>
<% end %>
